.git
.github
.gitignore
.gitattributes
.editorconfig
.styleci.yml
.env
.env.testing
.vscode
.idea
.vagrant

node_modules
vendor

tests
phpunit.xml
pint.json

*.md
!README.md

playwright-report
test-results
blob-report

Homestead.json
Homestead.yaml

docker-compose*.yml
Dockerfile.remote.tmp
